*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html{
    font-size: 62.5%;
}


:root{
    --header-color- : #4B5945;
    --bg-color-- : #66785F;
    --fs-color--: #F3F3E0;
    --btn-color--: rgb(218, 21, 21);
    --heading-color: #000a19;
  --bnt-hover-bg-color: #003b99;

}

body{
    background: var(--bg-color--);
}

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 1rem 9rem ;
}


/********************************** Header ********************************************/

header{
    background-color: var(--header-color-);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: var(--fs-color--);
}

form{
    padding: 0.5rem;
}

nav form input[type="text"],button[type="submit"], .recipeItem .viewBtn{
    font-size: 1.7rem;
    border: none;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

nav form button, .recipeItem .viewBtn{
    margin: 0.5rem 0 0 1rem;
    font-weight: 700;
    color: var(--fs-color--);
    background: var(--btn-color--);
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

nav form button:hover, .recipeItem .viewBtn:hover{
    background-color: rgb(254, 4, 29);
}





/*************************************** Main Recipe Container****************************************/
main .heading{
    color: var(--fs-color--);
    text-align: center;
    font-size: 2rem;
}

.recipeContainer{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 2rem;
    cursor: pointer;
    place-items: center;
}

.recipeItem{
    background-color: #F3F3E0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding-bottom: 1rem;
    max-width: 27rem;
    /* max-height: 30rem; */
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    & p{
        font-size: 1.3rem;
    }

    & span{
        font-weight: 600;
    }


   
}

.recipeItem img{
    width: 100%;
}

/* .recipeItem p , h2{
    padding-left: 1rem;
    margin-bottom: 0.4rem;
} */


/**************************** Recipe details container ******************************/
.recipe-details-container{
    display: none;
    background: #4B5945;
    position: fixed;
    max-height: 30rem;
    max-width: 40rem;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    
    & .recipe-close-button{
        position: absolute;
        background: red;
        font-size: 2rem;
        padding: 0.3rem;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        border: none;

    }

    & h2{
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: burlywood;
        text-align: center;
        text-transform: uppercase;
    }
}


.ingredients, .instructions{
    margin: 0.4rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

ul{
   list-style: none; 
   font-size: 1.4rem;
   color: var(--fs-color--);
   padding-left: 1rem;

}

.recipe-details p{
   font-size: 1.3rem;
   line-height: 1.4rem;
   color: var(--fs-color--);
   padding-left: 1rem;
}





/***** scrollbar Section *****/
.recipe-details-container::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  .recipe-details-container::-webkit-scrollbar-track {
    background: var(--fs-color--);
  }
  
  /* Handle */
  .recipe-details-container::-webkit-scrollbar-thumb {
    background: var(--bnt-hover-bg-color);
    border-radius: 50px;
  }
  
  /* Handle on hover */
  .recipe-details-container::-webkit-scrollbar-thumb:hover {
    background: var(--heading-color);
  }
  







@media (width < 768px){
    nav{
        flex-direction: column;
    }
    .container{
        padding: 1rem 5rem ;
    }
}


@media (width < 430px){
    .container{
        padding: 1rem 0.7rem ;
    }

    nav form input[type="text"],button[type="button"]{
        padding: auto;
    }

    nav form button{
        margin-left: 0;
    }
   
}

@media (width < 330px){
    html{
        font-size: 50%;
    }

    nav{
        align-items: start;
    }    
}